/*Body Related Style*/
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
/*Banner Related Style*/
header{
    background-color: #E554731A;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 920px;
    padding: 80px 0 0 0;
    margin: 0 auto;
}
.banner .banner-content{
    padding-bottom: 50px;
}
.banner .banner-image{
    width: 320px;
}
.banner .banner-content .banner-greading{
    color: #272727;
    font-size: 46px;
    width: 400px;
    margin: 0;
}
.banner .banner-content .banner-peragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 26px;
    width: 430px;
}
/*Button Style*/
.button-primary {
    border-radius: 5px;
    background: #E55473;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
}
/*Global Style Title & Describtion*/
.section-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px; 
}
.section-describtion {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 650px;
    margin: 0 auto;
    padding-bottom: 30px; 
}
main{
    width: 920px;
    margin: 0 auto;
    align-items: center;
}
/*Featured Section related style*/
.featured-section{
    margin: 50px 0 0 0;
}
.featured-column{
    display: flex;
    justify-content: space-between;
}
.featured-section .features .features-left{
    background-color: rgba(167, 33, 98, 0.15);
}
.featured-section .features .features-middle{
    background-color: rgba(5, 151, 160, 0.1);
}
.featured-section .features .features-right{
    background-color: rgba(71, 125, 17, 0.15);
}
.featured-section .featured-column img{
    width: 170px;
    height: 250px; 
    padding: 60px 60px 0px 60px;
    margin: 10px;
    border-radius: 50% 50% 0% 0%;
}
.features h4{
    text-decoration: underline;
    text-align: center;  
}
/*Deal Section related style*/
.deal-main{
    background-color:rgba(229, 84, 115, 0.05);
    margin: 40px 0;
    padding: 40px 0px 50px 0px;
}
.deal-sectinon{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    align-items:center; 
}
.banner-greading{
    color: #272727;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
}
.banner-peragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.deal-content {
    width: 550px;
    text-align: center;
}
.deal-sectinon .banner-image{
    width: 220px;
}
.instagram img{
    width: 215px;
    margin-right: 10px;
}
/*New Section related style*/
.new-section{
    text-align: center;
    background-color: #f7f3f4;
    padding: 80px 0;
    margin: 50px 0;
}
.new-section .new-content main{
    display: flex;
    justify-content: space-between;
}
.new-section .new-content main button{
    margin-right: 10px;
}
/*subscribe Section related style*/

.subscribe-section{
    background-image:url(../images/Rectan.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
}
.new-greading {
    font-size: 25px;
    font-weight: 900;
}
.subscribe-button{
    border-radius: 5px;
    background: #E55473;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 20px;
}
.Subscribe-from {
    text-align: center;
}
input[type="mail"] {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    margin-right: 10px;
}
::placeholder{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}
/*Footer Section*/
.footer-section {
    background: #000;
    padding: 50px 0 40px 0;
    margin-top: 50px;
}
.footer-section .section-title{
    color: #fff;
}
.footer-section .section-title span{
    color: #E55473;
}
.footer-section .section-describtion{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.footer-section p{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    display: block;
}